amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
cffi==1.17.1
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==45.0.3
boto3==1.38.36
Django==5.2.16
django-cors-headers==4.9.0
django-filter==25.2
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
kombu==5.6.2
packaging==26.2
pillow==12.3.0
prompt_toolkit==3.0.52
pycparser==2.22
PyJWT==2.13.0
PyMySQL==1.2.0
pypdf==6.14.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==8.0.1
reportlab==5.0.0
sentry-sdk==2.32.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.3
tzlocal==5.4.4
vine==5.1.0
wcwidth==0.8.2
wheel==0.45.1
whitenoise==6.12.0

